.body {
  width: 100%;
  font-family: cursive;
  font-style: oblique;
  font-family: aleolight;
}
.wrapper {
  display: flex;
}
.landing {
padding-bottom: 0;
}

////*#menu {
   padding: 2px, 5px;
   background-color: transparent;
   width: 20px;
   height: 24px;
   background: #F15A29;
   border-radius: 2px;
   cursor: pointer;
}//////

////*#menu > div {
  width: 20px;
  height: 4px;
  background: black;
  margin: 3px 0px;
  border-radius: 4px;
} *///

.logo{
  position: relative;
   margin: auto;
   left: 554px;
   top: -558px;
 }

.motto1 {
  padding: 31px 8px 32px 252px;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  position: relative;
  top: -550px;
  font-weight: lighter;
  font-size: 47px;
  color: white;
}

.party {
  background-color: #F15A29;
  text-align: center;
  color: white;
}
.breakfast, .lunch, .dinner {
  color: white;
  text-align: center;
}
.fast-food {
  padding: 98px 75px 57px 84px;
}

.drink-1 {
padding: 214px 0px 0px 82px;
display: inline-flex;
}
.drink{
  padding: 0 0 0 170px;
}

.section1{
    height: 610px;
}


.section2 {
  display: flex;
  padding: 0px 0px -1px 8px;

}
.party {
      padding: 32px 129px 27px 20px;
      flex-grow: 1;
}
.happy{
      padding: 71px 8px 30px 60px;
      flex-grow: 1;
}
.item, .foodtop1, .foodtop2, .foodtop3  {
  height: 100px;
  min-width: 100px;

}

.item1 {
    background-color: lightgrey ;
    width: 300px;
    padding: 25px;
    display: table;
    flex-direction: column-reverse;
}

.item2 {
  background-color: #F15A29;
  width: 300px;
  padding: 25px;
  flex-flow: column;
  display: table;
  flex-direction: column-reverse;
}

.foodtop1, .foodtop2, .foodtop3  {
  flex-flow: row;
  margin: auto;
  flex-direction: row;
}

.fastfood2 {
  float: right;
  margin: 12px;
  border: 2px solid white;
  padding: 4px;
  background-color: white;
}
.fastfood3 {
  float: left;
  margin: 12px;
  border: 2px solid white;
  padding: 4px;
  background-color: white;
}
.section3 {
  border: 1px solid;
  width: 200px;
  height: 200px;
  position: relative;
}
.fastfood {
  position: absolute;
  background-color: white.
  padding: 20px;
  margin: auto;
  border-width: thin;
  float: left;
}
