.body {
  width: 100%;
  font-family: cursive;
  font-style: oblique;
  font-family: aleolight;
}
.wrapper {
  display: flex;
}
.landing {
  margin-left: 0%;
  border-width: thin;
  margin-top: 0%;
}

#menu {
   padding: 2px, 5px;
   background-color: transparent;
   width: 20px;
   height: 24px;
   background: #F15A29;
   border-radius: 2px;
   cursor: pointer;
}

#menu > div {
  width: 20px;
  height: 4px;
  background: black;
  margin: 3px 0px;
  border-radius: 4px;
}

.logo{
   position: absolute;
   margin: auto;
   right: 5px;
   left: 130px;
   top: 130px;
 }

.motto1 {
   position: fixed;
   font-family: aleolight;
   margin: auto;
   right: 140px;
   left: 500px;
   top: 470px;
   font-weight: lighter;
   font-style: oblique;
   font-size: 47px;
   color: white;
}
.motto {
    position:fixed;
    margin: auto;
   font-family: aleolight;
   right: 140px;
   left: 550px;
   top: 510px;
   font-weight: lighter;
   font-family: cursive;
   font-style: oblique;
   font-size: 47px;
   color: white;
}
.section2 {
  display: flex;
}
.item, .foodtop,  {
  height: 100px;
  min-width: 100px;
  flex-grow: 1;
}

.item1 {
    background-color: lightgrey ;
    width: 300px;
    padding: 25px;
    display: table;
}

.item2 {
  background-color: #F15A29;
  width: 300px;
  padding: 25px;
  display: table;
}

.foodtop {
  flex-flow: row;
  margin: auto;
}

.fastfood2 {
  padding: 20px;
  margin: auto;
  border-width: thin;
  float: left
}

.fastfood {
  position: relative;
  padding: 20px;
  margin: auto;
  border-width: thin;
  float: left;
}
